services:
  dozzle:
    image: amir20/dozzle:v6.5.2
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    secrets:
      - source: users
        target: /data/users.yml
    ports:
      - 5200:8080
    environment:
      DOZZLE_HOSTNAME: status.objectobject.ca
      DOZZLE_BASE: /dozzle
      DOZZLE_AUTH_PROVIDER: simple
      DOZZLE_NO_ANALYTICS: true
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 60s

  gatus:
    image: twinproduction/gatus:v5.18.0
    ports:
      - 5201:8080
    environment:
      GATUS_CONFIG_PATH: /config
      SOCKET_PROXY: http://socket-proxy:2375/v1.45
    volumes:
      - ./gatus:/config
      - gatus_data:/data
    secrets:
      - source: gatus-secrets
        target: /config/gatus-secrets.yml
    restart: unless-stopped
    depends_on:
      - socket-proxy

  socket-proxy:
    image: lscr.io/linuxserver/socket-proxy:3.0.10
    container_name: socket-proxy
    environment:
      - CONTAINERS=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    read_only: true
    tmpfs:
      - /run

  docker-state-exporter:
    image: karugaru/docker_state_exporter@sha256:99d984a57dd11d0d3b53d56481dec51be7a0ad7c2a7aa80a95db2facd294c60a
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    ports:
      - "127.0.0.1:5202:8080"
    restart: unless-stopped

secrets:
  users:
    file: users.yml
  gatus-secrets:
    file: gatus-secrets.yml

volumes:
  gatus_data:
